
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/template/favicon.svg">
    <link href="assets/css/style.css?v=2.0" rel="stylesheet">
    <link href="assets/css/style-rtl.css?v=2.0" rel="stylesheet">
    <title>قالب شرکتی گنز</title>
</head>
<body>
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center"><img class="mb-10" src="assets/imgs/template/favicon.svg" alt="GenZ">
                <div class="preloader-dots"></div>
            </div>
        </div>
    </div>
</div>
<header class="header sticky-bar bg-gray-900">
    <div class="container">
        <div class="main-header">
            <div class="header-logo"><a class="d-flex" href="index.html"><img class="logo-night" alt="GenZ" src="assets/imgs/template/logo.svg"><img class="d-none logo-day" alt="GenZ" src="assets/imgs/template/logo-day.svg"></a></div>
            <div class="header-nav">
                <nav class="nav-main-menu d-none d-xl-block">
                    <ul class="main-menu">
                        <li class="has-children"><a class="active" href="index.html">صفحه اصلی</a>
                            <ul class="sub-menu">
                                <li><a class="color-gray-500" href="index.html">صفحه نخست - 1</a></li>
                                <li><a class="color-gray-500" href="index-2.html">صفحه نخست - 2</a></li>
                                <li><a class="color-gray-500" href="index-3.html">صفحه نخست - 3</a></li>
                                <li><a class="color-gray-500" href="index-4.html">صفحه نخست - 4</a></li>
                            </ul>
                        </li>
                        <li class="has-children"><a class="color-gray-500" href="page-about.html">پروفایل</a>
                            <ul class="sub-menu">
                                <li><a class="color-gray-500" href="page-portfolio.html">نمونه کارها من</a></li>
                                <li><a class="color-gray-500" href="page-portfolio-2.html">نمونه کارها من 2</a></li>
                                <li><a class="color-gray-500" href="portfolio-details.html">جزئیات نمونه کارها</a></li>
                            </ul>
                        </li>
                        <li class="has-children"><a class="color-gray-500" href="#">دسته بندی</a>
                            <ul class="sub-menu two-col">
                                <li><a class="color-gray-500" href="blog-archive.html">دسته بندی وبلاگ 1</a></li>
                                <li><a class="color-gray-500" href="blog-archive-2.html">دسته بندی وبلاگ 2</a></li>
                                <li><a class="color-gray-500" href="blog-archive-3.html">دسته بندی وبلاگ 3</a></li>
                                <li><a class="color-gray-500" href="blog-archive-4.html">دسته بندی وبلاگ 4</a></li>
                                <li><a class="color-gray-500" href="blog-archive-5.html">دسته بندی وبلاگ 5</a></li>
                            </ul>
                        </li>
                        <li class="has-children"><a class="color-gray-500" href="#">وبلاگ
                        </a>
                            <ul class="sub-menu two-col">
                                <li><a class="color-gray-500" href="single-sidebar.html">وبلاگ تک 1</a></li>
                                <li><a class="color-gray-500" href="single-no-sidebar.html">وبلاگ تک 2</a></li>
                                <li><a class="color-gray-500" href="single-center.html">وبلاگ تک 3</a></li>
                            </ul>
                        </li>
                        <li class="has-children"><a class="color-gray-500" href="#">صفحات</a>
                            <ul class="sub-menu two-col">
                                <li><a class="color-gray-500" href="page-about.html">درباره ما</a></li>
                                <li><a class="color-gray-500" href="page-author.html">پست های نویسنده</a></li>
                                <li><a class="color-gray-500" href="page-contact.html">مخاطب</a></li>
                                <li><a class="color-gray-500" href="page-search.html">نتایج جستجو</a></li>
                                <li><a class="color-gray-500" href="page-login.html">ورود</a></li>
                                <li><a class="color-gray-500" href="page-signup.html">ثبت نام</a></li>
                                <li><a class="color-gray-500" href="page-404.html">صفحه 404</a></li>
                            </ul>
                        </li>
                        <li><a class="color-gray-500" href="page-contact.html">ارتباط با ما</a></li>
                    </ul>
                </nav>
                <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
            </div>
            <div class="header-right text-end"><a class="btn btn-search" href="#"></a>
                <div class="form-search p-20">
                    <form action="#">
                        <input class="form-control" type="text" placeholder="جستجو">
                        <input class="btn-search-2" type="submit" value="">
                    </form>
                    <div class="popular-keywords text-start mt-20" style="text-align: right !important;">
                        <p class="mb-10 color-white">برچسب های محبوب:</p><a class="color-gray-600 mr-10 font-xs" href="#"># مسافرت رفتن,</a><a class="color-gray-600 mr-10 font-xs" href="#"># فنی,</a><a class="color-gray-600 mr-10 font-xs" href="#"># فیلم سینما</a><a class="color-gray-600 mr-10 font-xs" href="#"># سبک زندگی</a><a class="color-gray-600 mr-10 font-xs" href="#"># ورزش</a>
                    </div>
                </div>
                <div class="switch-button">
                    <div class="form-check form-switch">
                        <input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" role="switch" checked="">
                    </div>
                </div><a class="btn btn-linear d-none d-sm-inline-block hover-up hover-shadow" href="page-login.html">اشتراک در</a>
            </div>
        </div>
    </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar bg-gray-900">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-content-area">
            <div class="mobile-logo border-gray-800"><a class="d-flex" href="index.html"><img class="logo-night" alt="GenZ" src="assets/imgs/template/logo.svg"><img class="d-none logo-day" alt="GenZ" src="assets/imgs/template/logo-day.svg"></a></div>
            <div class="perfect-scroll">
                <div class="mobile-menu-wrap mobile-header-border">
                    <nav class="mt-15">
                        <ul class="mobile-menu font-heading">
                            <li class="has-children"><a href="index.html">صفحه اصلی</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">صفحه نخست - 1</a></li>
                                    <li><a href="index-2.html">صفحه نخست - 2</a></li>
                                    <li><a href="index-3.html">صفحه نخست - 3</a></li>
                                    <li><a href="index-4.html">صفحه نخست - 4</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="#">دسته بندی</a>
                                <ul class="sub-menu">
                                    <li><a href="blog-archive.html">دسته بندی وبلاگ 1</a></li>
                                    <li><a href="blog-archive-2.html">دسته بندی وبلاگ 2</a></li>
                                    <li><a href="blog-archive-3.html">دسته بندی وبلاگ 3</a></li>
                                    <li><a href="blog-archive-4.html">دسته بندی وبلاگ 4</a></li>
                                    <li><a href="blog-archive-5.html">دسته بندی وبلاگ 5</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="#">وبلاگ</a>
                                <ul class="sub-menu">
                                    <li><a href="single-sidebar.html">وبلاک تک 1</a></li>
                                    <li><a href="single-no-sidebar.html">وبلاک تک 2</a></li>
                                    <li><a href="single-center.html">وبلاک تک 3</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a class="color-gray-500" href="page-portfolio.html">نمونه کارها</a>
                                <ul class="sub-menu">
                                    <li><a class="color-gray-500" href="page-portfolio.html">نمونه کارها من</a></li>
                                    <li><a class="color-gray-500" href="page-portfolio-2.html">نمونه کارها من 2</a></li>
                                    <li><a class="color-gray-500" href="portfolio-details.html">جزئیات نمونه کارها</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="#">صفحات</a>
                                <ul class="sub-menu">
                                    <li><a href="page-about.html">درباره ما</a></li>
                                    <li><a href="page-author.html">پست های نویسنده</a></li>
                                    <li><a href="page-contact.html">لرتباط با ما</a></li>
                                    <li><a href="page-search.html">نتایج جستجو</a></li>
                                    <li><a href="page-login.html">ورود</a></li>
                                    <li><a href="page-signup.html">ثبت نام</a></li>
                                    <li><a href="page-404.html">صفحه 404</a></li>
                                </ul>
                            </li>
                            <li><a href="page-contact.html">ارتباط با ما</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="mobile-account border-gray-800">
                    <div class="mobile-header-top bg-gray-900">
                        <div class="user-account"><a href="page-login.html"><img src="assets/imgs/template/ava.jpg" alt="GenZ"></a>
                            <div class="content">
                                <h6 class="user-name color-white">سلام<span class="color-white"> استیون !</span></h6>
                                <p class="font-xs text-muted">شما 3 پیام جدید دارید</p>
                            </div>
                        </div>
                    </div>
                    <ul class="mobile-menu">
                        <li><a href="page-login.html">نمونه کارها</a></li>
                        <li><a href="page-login.html">مقالات ذخیره شده</a></li>
                        <li><a href="page-login.html">اضافه کردن پست جدید</a></li>
                        <li><a href="page-login.html">لایک های من</a></li>
                        <li><a href="page-login.html">تنظیمات حساب</a></li>
                        <li><a href="page-login.html">خروج از سیستم</a></li>
                    </ul>
                </div>
                <div class="site-copyright color-gray-400 mt-30">حق چاپ 1402  &copy; گنز -  قالب وبلاگ شخصی.<br>طراحی شده توسط<a href="http://alithemes.com" target="_blank">&nbsp; سرور</a></div>
            </div>
        </div>
    </div>
</div>
<main class="main">
    <div class="cover-home1">
        <div class="container">
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-xl-10 col-lg-12">
                    <div class="banner">
                        <div class="row align-items-end">
                            <div class="col-lg-6 pt-100"><span class="text-sm-bold color-gray-600 wow animate__animated animate__fadeInUp">سلام به همه!</span>
                                <h1 class="color-gray-50 mt-20 mb-20 wow animate__animated animate__fadeInUp">هستم<a class="typewrite color-linear" href="#" data-period="3000" data-type="[ &quot;گرافیست&quot;, &quot;طراح وب&quot;, &quot;وبمستر&quot; ]"></a></h1>
                                <div class="row">
                                    <div class="col-lg-9">
                                        <p class="text-base color-gray-600 wow animate__animated animate__fadeInUp">من از انیمیشن به عنوان بُعد سوم استفاده می‌کنم که با آن تجربیات را ساده‌سازی می‌کنم و هر تعاملی را به چالش می‌کشم. من حرکت را صرفاً برای اصلاح چیزها اضافه نمی کنم، بلکه آن را به روش هایی انجام می دهم.</p>
                                    </div>
                                </div>
                                <div class="box-subscriber mt-40 mb-50 wow animate__animated animate__fadeInUp">
                                    <div class="inner-subscriber bg-gray-800">
                                        <form class="d-flex" action="#">
                                            <input class="input-sybscriber" type="text" placeholder="آدرس ایمیل خود را تایپ کنید">
                                            <button class="btn btn-linear btn-arrow-right">اشتراک در<i class="fi-rr-arrow-small-right" ></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 text-center">
                                <div class="banner-img position-relative wow animate__animated animate__fadeIn"><img src="assets/imgs/page/homepage1/banner.png" alt="Genz">
                                    <div class="pattern-1"><img src="assets/imgs/template/pattern-1.svg" alt="Genz"></div>
                                    <div class="pattern-2"><img src="assets/imgs/template/pattern-2.svg" alt="Genz"></div>
                                    <div class="pattern-3"><img src="assets/imgs/template/pattern-3.svg" alt="Genz"></div>
                                    <div class="pattern-4"><img src="assets/imgs/template/pattern-4.svg" alt="Genz"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-70">
                        <div class="box-topics border-gray-800 bg-gray-850">
                            <div class="row">
                                <div class="col-lg-2">
                                    <h5 class="mb-15 color-white wow animate__animated animate__fadeInUp" data-wow-delay="0s">موضوعات داغ</h5>
                                    <p class="color-gray-500 mb-20 wow animate__animated animate__fadeInUp" data-wow-delay=".3s">آخرین اخبار درباره نکات سفر، بررسی هتل ها، راهنمای غذا را از دست ندهید...</p>
                                    <div class="box-buttons-slider position-relative wow animate__animated animate__zoomIn">
                                        <div class="swiper-button-prev swiper-button-prev-style-1"></div>
                                        <div class="swiper-button-next swiper-button-next-style-1"></div>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="box-swiper">
                                        <div class="swiper-container swiper-group-5">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="card-style-1"><a href="blog-archive.html">
                                                        <div class="card-image"><img src="assets/imgs/page/homepage1/sport.png" alt="Genz">
                                                            <div class="card-info">
                                                                <div class="info-bottom">
                                                                    <h6 class="color-white mb-5">,کد</h6>
                                                                    <p class="text-xs color-gray-500">38 مقاله</p>
                                                                </div>
                                                            </div>
                                                        </div></a></div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="card-style-1"><a href="blog-archive.html">
                                                        <div class="card-image"><img src="assets/imgs/page/homepage1/travel.png" alt="Genz">
                                                            <div class="card-info">
                                                                <div class="info-bottom">
                                                                    <h6 class="color-white mb-5">مسافرت رفتن</h6>
                                                                    <p class="text-xs color-gray-500">38 مقاله</p>
                                                                </div>
                                                            </div>
                                                        </div></a></div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="card-style-1"><a href="blog-archive.html">
                                                        <div class="card-image"><img src="assets/imgs/page/homepage1/design.png" alt="Genz">
                                                            <div class="card-info">
                                                                <div class="info-bottom">
                                                                    <h6 class="color-white mb-5">گرافیک</h6>
                                                                    <p class="text-xs color-gray-500">38 مقاله</p>
                                                                </div>
                                                            </div>
                                                        </div></a></div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="card-style-1"><a href="blog-archive.html">
                                                        <div class="card-image"><img src="assets/imgs/page/homepage1/movie.png" alt="Genz">
                                                            <div class="card-info">
                                                                <div class="info-bottom">
                                                                    <h6 class="color-white mb-5">فیلم</h6>
                                                                    <p class="text-xs color-gray-500">38 مقاله</p>
                                                                </div>
                                                            </div>
                                                        </div></a></div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="card-style-1"><a href="blog-archive.html">
                                                        <div class="card-image"><img src="assets/imgs/page/homepage1/lifestyle.png" alt="Genz">
                                                            <div class="card-info">
                                                                <div class="info-bottom">
                                                                    <h6 class="color-white mb-5">سبک زندگی
                                                                    </h6>
                                                                    <p class="text-xs color-gray-500">38 مقاله</p>
                                                                </div>
                                                            </div>
                                                        </div></a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="color-linear d-inline-block mb-10 wow animate__animated animate__fadeInUp">سردبیر انتخاب شد</h2>
                    <p class="text-lg color-gray-500 wow animate__animated animate__fadeInUp">مقالات برجسته و دارای امتیاز بالا</p>
                    <div class="row mt-70">
                        <div class="col-lg-6 wow animate__animated animate__fadeIn">
                            <div class="card-blog-1 hover-up">
                                <div class="card-image mb-20"><a class="post-type" href="blog-archive.html"></a><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/news2.png" alt="Genz"></a></div>
                                <div class="card-info">
                                    <div class="row">


                                        <div class="col-7"><a class="color-gray-700 text-sm" href="blog-archive.html"> #سلام به همه</a><a class="color-gray-700 text-sm" href="blog-archive.html"> #سبک زندگی</a>
                                        </div>
                                        <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 دقیقه خواندن</span></div>
                                    </div><a href="single-sidebar.html">
                                    <h4 class="color-white mt-20"> مشاهده خود اولین قدم آشکار شدن درونی است</h4></a>
                                    <div class="row align-items-center mt-25">
                                        <div class="col-7">
                                            <div class="box-author"><img src="assets/imgs/page/homepage1/author.png" alt="Genz">
                                                <div class="author-info">
                                                    <h6 class="color-gray-700">سرور</h6><span class="color-gray-700 text-sm">25 دی 1402</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="single-sidebar.html"><span>ادامه مطلب</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
                            <div class="card-blog-1 hover-up">
                                <div class="card-image mb-20"><a class="post-type" href="blog-archive.html"></a><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/news1.png" alt="Genz"></a></div>
                                <div class="card-info">
                                    <div class="row">
                                        <div class="col-7"><a class="color-gray-700 text-sm" href="blog-archive.html"> #گرافیست</a><a class="color-gray-700 text-sm" href="blog-archive.html"> #فیلم</a>
                                        </div>
                                        <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">6 دقیقه خواندن</span></div>
                                    </div><a href="single-sidebar.html">
                                    <h4 class="color-white mt-20"> مشاهده خود اولین قدم آشکار شدن درونی است</h4></a>
                                    <div class="row align-items-center mt-25">
                                        <div class="col-7">
                                            <div class="box-author"><img src="assets/imgs/page/homepage1/author2.png" alt="Genz">
                                                <div class="author-info">
                                                    <h6 class="color-gray-700">سرور</h6><span class="color-gray-700 text-sm">25 دی 1402</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="single-sidebar.html"><span>ادامه مطلب</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                            <div class="card-blog-1 hover-up">
                                <div class="card-image mb-20"><a class="post-type" href="blog-archive.html"></a><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/news1.png" alt="Genz"></a></div>
                                <div class="card-info">
                                    <div class="row">
                                        <div class="col-7"><a class="color-gray-700 text-sm" href="blog-archive.html"> #گرافیست</a><a class="color-gray-700 text-sm" href="blog-archive.html"> #فیلم</a>
                                        </div>
                                        <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">6 دقیقه خواندن</span></div>
                                    </div><a href="single-sidebar.html">
                                    <h4 class="color-white mt-20"> مشاهده خود اولین قدم آشکار شدن درونی است</h4></a>
                                    <div class="row align-items-center mt-25">
                                        <div class="col-7">
                                            <div class="box-author"><img src="assets/imgs/page/homepage1/author2.png" alt="Genz">
                                                <div class="author-info">
                                                    <h6 class="color-gray-700">سرور</h6><span class="color-gray-700 text-sm">25 دی 1402</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="single-sidebar.html"><span>ادامه مطلب</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 wow animate__animated animate__fadeIn" data-wow-delay=".3s">
                            <div class="card-blog-1 hover-up">
                                <div class="card-image mb-20"><a class="post-type" href="blog-archive.html"></a><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/news4.png" alt="Genz"></a></div>
                                <div class="card-info">
                                    <div class="row">
                                        <div class="col-7"><a class="color-gray-700 text-sm" href="blog-archive.html"> #گرافیست</a><a class="color-gray-700 text-sm" href="blog-archive.html"> #فیلم</a>
                                        </div>
                                        <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">6 دقیقه خواندن</span></div>
                                    </div><a href="single-sidebar.html">
                                    <h5 class="color-white mt-20">   مشاهده خود اولین قدم آشکار شدن درونی است</h5></a>
                                    <div class="row align-items-center mt-25">
                                        <div class="col-7">
                                            <div class="box-author"><img src="assets/imgs/page/homepage1/author4.png" alt="Genz">
                                                <div class="author-info">
                                                    <h6 class="color-gray-700">سرور</h6><span class="color-gray-700 text-sm">25 دی 1402</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="single-sidebar.html"><span>ادامه مطلب</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 wow animate__animated animate__fadeIn" data-wow-delay=".5s">
                            <div class="card-blog-1 hover-up">
                                <div class="card-image mb-20"><a class="post-type" href="blog-archive.html"></a><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/news5.png" alt="Genz"></a></div>
                                <div class="card-info">
                                    <div class="row">
                                        <div class="col-7"><a class="color-gray-700 text-sm" href="blog-archive.html"> #گرتفیست</a><a class="color-gray-700 text-sm" href="blog-archive.html"> #فیلم</a>
                                        </div>
                                        <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">6 دقیقه خواندن</span></div>
                                    </div><a href="single-sidebar.html">
                                    <h5 class="color-white mt-20">   مشاهده خود اولین قدم آشکار شدن درونی است</h5></a>
                                    <div class="row align-items-center mt-25">
                                        <div class="col-7">
                                            <div class="box-author"><img src="assets/imgs/page/homepage1/author5.png" alt="Genz">
                                                <div class="author-info">
                                                    <h6 class="color-gray-700">سرور</h6><span class="color-gray-700 text-sm">25 دی 1402</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-5 text-end"><a class="readmore color-gray-500 text-sm" href="single-sidebar.html"><span>ادامه مطلب</span></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mb-50"><a class="btn btn-linear btn-load-more wow animate__animated animate__zoomIn">
                        دیدن پست های بیشتر
                        <i class="fi-rr-arrow-small-right" ></i></a></div>
                    <h2 class="color-linear d-inline-block mb-10 wow animate__animated animate__fadeInUp">برچسب های محبوب</h2>
                    <p class="text-lg color-gray-500 wow animate__animated animate__fadeInUp">بیشترین کلمات کلیدی جستجو شده</p>
                    <div class="row mt-70 mb-50">
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                            <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0s">
                                <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag1.png" alt="Genz"></a></div>
                                <div class="card-info"><a class="color-gray-500" href="blog-archive.html">مسافرت رفتن</a></div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                            <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.1s">
                                <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag2.png" alt="Genz"></a></div>
                                <div class="card-info"><a class="color-gray-500" href="blog-archive.html"> فرهنگ</a></div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                            <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.2s">
                                <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag3.png" alt="Genz"></a></div>
                                <div class="card-info"><a class="color-gray-500" href="blog-archive.html">سبک زندگی</a></div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                            <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.3s">
                                <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag4.png" alt="Genz"></a></div>
                                <div class="card-info"><a class="color-gray-500" href="blog-archive.html">روش</a></div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                            <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.4s">
                                <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag5.png" alt="Genz"></a></div>
                                <div class="card-info"><a class="color-gray-500" href="blog-archive.html">غذا</a></div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                            <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.5s">
                                <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag6.png" alt="Genz"></a></div>
                                <div class="card-info"><a class="color-gray-500" href="blog-archive.html">فضا</a></div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                            <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.1s">
                                <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag7.png" alt="Genz"></a></div>
                                <div class="card-info"><a class="color-gray-500" href="blog-archive.html">حیوان</a></div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                            <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.2s">
                                <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag8.png" alt="Genz"></a></div>
                                <div class="card-info"><a class="color-gray-500" href="blog-archive.html">حداقل</a></div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                            <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.3s">
                                <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag9.png" alt="Genz"></a></div>
                                <div class="card-info"><a class="color-gray-500" href="blog-archive.html">داخلی</a></div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                            <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.4s">
                                <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag10.png" alt="Genz"></a></div>
                                <div class="card-info"><a class="color-gray-500" href="blog-archive.html">گیاه</a></div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                            <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.5s">
                                <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag11.png" alt="Genz"></a></div>
                                <div class="card-info"><a class="color-gray-500" href="blog-archive.html">طبیعت
                                </a></div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-6">
                            <div class="card-style-2 hover-up hover-neon wow animate__animated animate__fadeIn" data-wow-delay="0.6s">
                                <div class="card-image"><a href="blog-archive.html"><img src="assets/imgs/page/homepage1/tag12.png" alt="Genz"></a></div>
                                <div class="card-info"><a class="color-gray-500" href="blog-archive.html">کسب و کار</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-70">
                        <div class="col-lg-8">
                            <h2 class="color-linear d-inline-block mb-10">پستهای اخیر</h2>
                            <p class="text-lg color-gray-500">آخرین ترندها را از دست ندهید</p>
                            <div class="box-list-posts mt-70">
                                <div class="card-list-posts wow animate__animated animate__fadeIn">
                                    <div class="card-image hover-up"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-news-1.jpg" alt="Genz"></a></div>
                                    <div class="card-info"><a class="btn btn-tag bg-gray-800 hover-up" href="blog-archive.html">نکات کاری</a><a href="single-sidebar.html">
                                        <h4 class="mt-15 mb-20 color-white">نکات مفید برای کار از خانه به عنوان یک مترجم آزاد
                                        </h4></a>
                                        <p class="color-gray-500">گش جگوار شترمرغ بلدرچین یک هیجان زده عزیز سلام و مقید و بداخلاق و بداخلاق جاده دونده بداخلاق سیاه گوش را تا آنجا بال زد و جیپرها دور و دور قهقه زدند</p>
                                        <div class="row mt-20">
                                            <div class="col-7"><a class="color-gray-700 text-sm mr-15" href="blog-archive.html"># مسافرت رفتن</a><a class="color-gray-700 text-sm" href="blog-archive.html"># سبک زندگی</a></div>
                                            <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 دقیقه خواندن</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-list-posts wow animate__animated animate__fadeIn">
                                    <div class="card-image hover-up"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-news-2.jpg" alt="Genz"></a></div>
                                    <div class="card-info"><a class="btn btn-tag bg-gray-800 hover-up" href="blog-archive.html">نکات کاری</a><a href="single-sidebar.html">
                                        <h4 class="mt-15 mb-20 color-white">نکات مفید برای کار از خانه به عنوان یک مترجم آزاد</h4></a>
                                        <p class="color-gray-500">گش جگوار شترمرغ بلدرچین یک هیجان زده عزیز سلام و مقید و بداخلاق و بداخلاق جاده دونده بداخلاق سیاه گوش را تا آنجا بال زد و جیپرها دور و دور قهقه زدند</p>
                                        <div class="row mt-20">
                                            <div class="col-7"><a class="color-gray-700 text-sm mr-15" href="blog-archive.html"># مسافرت رفتن</a><a class="color-gray-700 text-sm" href="blog-archive.html"># سبک زندگی</a></div>
                                            <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 دقیقه خواندن</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-list-posts wow animate__animated animate__fadeIn">
                                    <div class="card-image hover-up"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-news-3.jpg" alt="Genz"></a></div>
                                    <div class="card-info"><a class="btn btn-tag bg-gray-800 hover-up" href="blog-archive.html">نکات کاری</a><a href="single-sidebar.html">
                                        <h4 class="mt-15 mb-20 color-white">نکات مفید برای کار از خانه به عنوان یک مترجم آزاد</h4></a>
                                        <p class="color-gray-500">گش جگوار شترمرغ بلدرچین یک هیجان زده عزیز سلام و مقید و بداخلاق و بداخلاق جاده دونده بداخلاق سیاه گوش را تا آنجا بال زد و جیپرها دور و دور قهقه زدند</p>
                                        <div class="row mt-20">
                                            <div class="col-7"><a class="color-gray-700 text-sm mr-15" href="blog-archive.html"># مسافرت رفتن</a><a class="color-gray-700 text-sm" href="blog-archive.html"># سبک زندگی</a></div>
                                            <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 دقیقه خواندن</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-list-posts wow animate__animated animate__fadeIn">
                                    <div class="card-image hover-up"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-news-4.jpg" alt="Genz"></a></div>
                                    <div class="card-info"><a class="btn btn-tag bg-gray-800 hover-up" href="blog-archive.html">نکات کاری</a><a href="single-sidebar.html">
                                        <h4 class="mt-15 mb-20 color-white">نکات مفید برای کار از خانه به عنوان یک مترجم آزاد</h4></a>
                                        <p class="color-gray-500">گش جگوار شترمرغ بلدرچین یک هیجان زده عزیز سلام و مقید و بداخلاق و بداخلاق جاده دونده بداخلاق سیاه گوش را تا آنجا بال زد و جیپرها دور و دور قهقه زدند</p>
                                        <div class="row mt-20">
                                            <div class="col-7"><a class="color-gray-700 text-sm mr-15" href="blog-archive.html"># مسافرت رفتن</a><a class="color-gray-700 text-sm" href="blog-archive.html"># سبک زندگی</a></div>
                                            <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 دقیقه خواندن</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-list-posts wow animate__animated animate__fadeIn">
                                    <div class="card-image hover-up"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-news-5.jpg" alt="Genz"></a></div>
                                    <div class="card-info"><a class="btn btn-tag bg-gray-800 hover-up" href="blog-archive.html">نکات کاری</a><a href="single-sidebar.html">
                                        <h4 class="mt-15 mb-20 color-white">نکات مفید برای کار از خانه به عنوان یک مترجم آزاد</h4></a>
                                        <p class="color-gray-500">گش جگوار شترمرغ بلدرچین یک هیجان زده عزیز سلام و مقید و بداخلاق و بداخلاق جاده دونده بداخلاق سیاه گوش را تا آنجا بال زد و جیپرها دور و دور قهقه زدند</p>
                                        <div class="row mt-20">
                                            <div class="col-7"><a class="color-gray-700 text-sm mr-15" href="blog-archive.html"># مسافرت رفتن</a><a class="color-gray-700 text-sm" href="blog-archive.html"># سبک زندگی</a></div>
                                            <div class="col-5 text-end"><span class="color-gray-700 text-sm timeread">3 دقیقه خواندن</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <nav class="mb-50">
                                <ul class="pagination">
                                    <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".0s"><a class="page-link page-prev" href="#"><i class="fi-rr-arrow-small-left" style="top: 5px;
  position: relative;"></i></a></li>
                                    <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".1s"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".2s"><a class="page-link active" href="#">2</a></li>
                                    <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".3s"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".4s"><a class="page-link" href="#">...</a></li>
                                    <li class="page-item wow animate__animated animate__fadeIn" data-wow-delay=".5s"><a class="page-link page-next" href="#"><i class="fi-rr-arrow-small-right" style="top: 5px;
  position: relative;"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-4">
                            <div class="sidebar">
                                <div class="box-sidebar bg-gray-850 border-gray-800">
                                    <div class="head-sidebar wow animate__animated animate__fadeIn">
                                        <h5 class="line-bottom">پست های محبوب</h5>
                                    </div>
                                    <div class="content-sidebar">
                                        <div class="list-posts">
                                            <div class="item-post wow animate__animated animate__fadeIn">
                                                <div class="image-post"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-post.jpg" alt="Genz"></a></div>
                                                <div class="info-post border-gray-800"><a href="single-sidebar.html">
                                                    <h6 class="color-white">نکات مفید برای کار از خانه به عنوان یک مترجم آزاد</h6></a><span class="color-gray-700">15 دقیقه خواندن</span>
                                                    <ul class="d-inline-block">
                                                        <li class="color-gray-700">25 دی 1402</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="item-post wow animate__animated animate__fadeIn">
                                                <div class="image-post"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-post2.jpg" alt="Genz"></a></div>
                                                <div class="info-post border-gray-800"><a href="single-sidebar.html">
                                                    <h6 class="color-white">نکات مفید برای کار از خانه به عنوان یک مترجم آزاد</h6></a><span class="color-gray-700">15 دقیقه خواندن</span>
                                                    <ul class="d-inline-block">
                                                        <li class="color-gray-700">25 دی 1402</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="item-post wow animate__animated animate__fadeIn">
                                                <div class="image-post"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-post3.jpg" alt="Genz"></a></div>
                                                <div class="info-post border-gray-800"><a href="single-sidebar.html">
                                                    <h6 class="color-white">نکات مفید برای کار از خانه به عنوان یک مترجم آزاد</h6></a><span class="color-gray-700">15 دقیقه خواندن</span>
                                                    <ul class="d-inline-block">
                                                        <li class="color-gray-700">25 دی 1402</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="item-post wow animate__animated animate__fadeIn">
                                                <div class="image-post"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-post4.jpg" alt="Genz"></a></div>
                                                <div class="info-post border-gray-800"><a href="single-sidebar.html">
                                                    <h6 class="color-white">نکات مفید برای کار از خانه به عنوان یک مترجم آزاد</h6></a><span class="color-gray-700">15 دقیقه خواندن</span>
                                                    <ul class="d-inline-block">
                                                        <li class="color-gray-700">25 دی 1402</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="item-post wow animate__animated animate__fadeIn">
                                                <div class="image-post"><a href="single-sidebar.html"><img src="assets/imgs/page/homepage1/img-post4.jpg" alt="Genz"></a></div>
                                                <div class="info-post border-gray-800"><a href="single-sidebar.html">
                                                    <h6 class="color-white">نکات مفید برای کار از خانه به عنوان یک مترجم آزاد</h6></a><span class="color-gray-700">15 دقیقه خواندن</span>
                                                    <ul class="d-inline-block">
                                                        <li class="color-gray-700">25 دی 1402</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-sidebar bg-gray-850 border-gray-800">
                                    <div class="head-sidebar wow animate__animated animate__fadeIn">
                                        <h5 class="line-bottom">آخرین نظر</h5>
                                    </div>
                                    <div class="content-sidebar">
                                        <div class="list-comments">
                                            <div class="item-comment border-gray-800 wow animate__animated animate__fadeIn">
                                                <p class="color-gray-500 mb-20">“گوش جگوار شترمرغ بلدرچین یک هیجان زده عزیز سلام و مقید و بی ادب و اخلاق نادرست جاده دونده”</p>
                                                <div class="box-author-small"><img src="assets/imgs/page/homepage1/author6.png" alt="Genz">
                                                    <div class="author-info"><span class="d-block color-gray-700 text-sm">سرور </span><span class="color-gray-700 text-xs">15 تیر 1402</span></div>
                                                </div>
                                            </div>
                                            <div class="item-comment border-gray-800 wow animate__animated animate__fadeIn">
                                                <p class="color-gray-500 mb-20">“گوش جگوار شترمرغ بلدرچین یک هیجان زده عزیز سلام و مقید و بی ادب و اخلاق نادرست جاده دونده”</p>
                                                <div class="box-author-small"><img src="assets/imgs/page/homepage1/author7.png" alt="Genz">
                                                    <div class="author-info"><span class="d-block color-gray-700 text-sm">سرور</span><span class="color-gray-700 text-xs">15 تیر 1402</span></div>
                                                </div>
                                            </div>
                                            <div class="item-comment border-gray-800 wow animate__animated animate__fadeIn">
                                                <p class="color-gray-500 mb-20">“گوش جگوار شترمرغ بلدرچین یک هیجان زده عزیز سلام و مقید و بی ادب و اخلاق نادرست جاده دونده”</p>
                                                <div class="box-author-small"><img src="assets/imgs/page/homepage1/author8.png" alt="Genz">
                                                    <div class="author-info"><span class="d-block color-gray-700 text-sm">سرور</span><span class="color-gray-700 text-xs">15 تیر 1402</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-sidebar bg-gray-850 border-gray-800">
                                    <div class="head-sidebar"><a href="index.html"><img src="assets/imgs/template/logo.svg" alt="Genz"></a>
                                        <h6 class="color-gray-700">ما را در اینستاگرام دنبال کنید</h6>
                                    </div>
                                    <div class="content-sidebar">
                                        <div class="row mt-30 mb-10">
                                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="assets/imgs/page/homepage1/gallery.png" alt="Genz"></a></div>
                                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="assets/imgs/page/homepage1/gallery2.png" alt="Genz"></a></div>
                                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="assets/imgs/page/homepage1/gallery3.png" alt="Genz"></a></div>
                                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="assets/imgs/page/homepage1/gallery4.png" alt="Genz"></a></div>
                                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="assets/imgs/page/homepage1/gallery5.png" alt="Genz"></a></div>
                                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="assets/imgs/page/homepage1/gallery6.png" alt="Genz"></a></div>
                                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="assets/imgs/page/homepage1/gallery7.png" alt="Genz"></a></div>
                                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="assets/imgs/page/homepage1/gallery8.png" alt="Genz"></a></div>
                                            <div class="col-sm-4 col-4 mb-20 wow animate__animated animate__fadeIn"><a href="#"><img class="bdrd-8" src="assets/imgs/page/homepage1/gallery9.png" alt="Genz"></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="progressCounter progressScroll hover-up hover-neon-2" >
    <div class="progressScroll-border">
        <div class="progressScroll-circle" ><span class="progressScroll-text"><i class="fi-rr-arrow-small-up"></i></span></div>
    </div>
</div>
<script src="assets/js/vendors/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendors/jquery-migrate-3.3.0.min.js"></script>
<script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
<script src="assets/js/vendors/waypoints.js"></script>
<script src="assets/js/vendors/wow.js"></script>
<script src="assets/js/vendors/text-type.js"></script>
<script src="assets/js/vendors/swiper-bundle.min.js"></script>
<script src="assets/js/vendors/jquery.progressScroll.min.js"></script>
<script src="assets/js/main.js?v=2.0"></script>
</body>
</html>